.container {
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    width: 850px;
    height: 300px;
}


.key {
    border-radius: 20px;
    background-color: grey;
    align-content: center;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 30px;
    height: 30px;
    position: absolute;
}




#Text1 {
    width: 900px;
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;
    resize: none;
    display: block;
    margin: auto;
    padding: 10px;
    height: 100px;
    font-size: 30px;
}